{
  "openapi": "3.0.1",
  "info": {
    "version": "v2beta",
    "title": "StabilityAI REST API",
    "description": "Welcome to the Stability Platform API. As of March 2024, we are building the REST v2beta API service to be the primary API service for the Stability Platform.\nAll AI services on other APIs (gRPC, REST v1, RESTv2alpha) will continue to be maintained, however they will not receive\nnew features or parameters.\n\nIf you are a REST v2alpha user, we strongly recommend that you adjust the URL calls for the specific services that you are using over to the equivalent REST v2beta URL. Normally, this means simply replacing \"v2alpha\" with \"v2beta\". We are not deprecating v2alpha URLs at this time for users that are currently using them.\n\n#### Authentication\n\nYou will need your [Stability API key](https://platform.stability.ai/account/keys) in order to make requests to this API.\nMake sure you never share your API key with anyone, and you never commit it to a public repository. Include this key in\nthe `Authorization` header of your requests.\n\n#### Rate limiting\n\nThis API is rate-limited to 150 requests every 10 seconds. If you exceed this limit, you will receive a `429` response\nand be timed out for 60 seconds. If you find this limit too restrictive, please reach out to us via [this form](https://kb.stability.ai/knowledge-base/kb-tickets/new).\n\n#### Support\n\nPlease see our [FAQ](https://platform.stability.ai/faq) for answers to common questions. If you have any other questions or concerns,\nplease reach out to us via [this form](https://kb.stability.ai/knowledge-base/kb-tickets/new).\n\nTo see the health of our APIs, please check our [Status Page](https://stabilityai.instatus.com/)."
  },
  "servers": [
    {
      "url": "https://api.stability.ai"
    }
  ],
  "security": [
    {
      "STABILITY_API_KEY": []
    }
  ],
  "tags": [
    {
      "name": "Edit",
      "description": "Tools for editing your own and generated images.\n\n**[Erase](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1erase/post)**\n\nThe Erase service removes unwanted objects, such as blemishes on portraits or items on desks, using image masks.\n\n**[Outpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1outpaint/post)**\n\nThe outpaint service inserts additional content in an image to fill in the space in any direction, allowing you to \"zoom-out\" of an image.\n\n**[Inpaint](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1inpaint/post)**\n\nThe Inpaint service modifies images by filling in or replacing specified areas with new content based on the content of a \"mask\" image.\n\n**[Search and Replace](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-replace/post)**\n\nThe Search and Replace service, similar to inpaint, allows to replace specified areas with new content, but this time with the help of a prompt instead of a mask. The service will automatically segment the object and replace it with the object requested in the prompt.\n\n**[Search and Recolor](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1search-and-recolor/post)**\n\nThe Search and Recolor service is another derivative of the inpaint service and provides the ability to change the color of a specific object in an image using a prompt. The Search and Recolor service will automatically segment the object and recolor it using the colors requested in the prompt.\n\n**[Remove Background](/docs/api-reference#tag/Edit/paths/~1v2beta~1stable-image~1edit~1remove-background/post)**\n\nThe Remove Background service accurately segments the foreground from an image to removes the background."
    },
    {
      "name": "Upscale",
      "description": "Tools for increasing the size and resolution of your existing images.\n\n**[Fast Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1fast/post)**\n\nThis service enhances image resolution by 4x using predictive and generative AI. This lightweight and fast service (processing in ~1 second) is ideal for enhancing the quality of compressed images, making it suitable for social media posts and other applications.\n\n**[Conservative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1conservative/post)**\n\nThis service can upscale images by 20 to 40 times up to a 4 megapixel output image with minimal alteration to the original image. The Conservative Upscaler can upscale images as small as 64x64 pixels directly to a 4 megapixel output. Use this option if you directly need a 4 megapixel output.\n\n**[Creative Upscaler](/docs/api-reference#tag/Upscale/paths/~1v2beta~1stable-image~1upscale~1creative/post)**\n\nThe service can upscale highly degraded images (lower than 1 megapixel) with a creative twist to provide high resolution results."
    },
    {
      "name": "Generate",
      "description": "Tools to generate new images from text, or create variations of existing images. Our different services include:\n\n**[Stable Image Ultra](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1ultra/post)**: Photorealistic, Large-Scale Output\n\nOur state of the art text to image model based on Stable Diffusion 3.5. Stable Image Ultra Produces the highest quality, photorealistic outputs perfect for professional print media and large format applications. Stable Image Ultra excels at rendering exceptional detail and realism.\n\n**[Stable Image Core](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1core/post)**: Fast and Affordable\n\nOptimized for fast and aﬀordable image generation, great for rapidly iterating on concepts during ideation. Stable Image Core is the next generation model following Stable Diffusion XL.\n\n**[Stable Diffusion 3.5 Model Suite](/docs/api-reference#tag/Generate/paths/~1v2beta~1stable-image~1generate~1sd3/post)**: Stability AI's latest base models\n\nThe different versions of our open models are available via API, letting you test and adjust speed and quality based on your use case. All model versions strike a balance between generation speed and output quality and are ideal for creating high-volume, high-quality digital assets like websites, newsletters, and marketing materials."
    },
    {
      "name": "Control",
      "description": "Tools for generating precise, controlled variations of existing images or sketches.\n\n**[Sketch](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1sketch/post)**\n\nThis service upgrades sketches to refined outputs with precise control. For non-sketch images, it allows detailed manipulation of the final appearance by leveraging the contour lines and edges within the image.\n\n**[Structure](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1structure/post)**\n\nThis service excels in generating images by maintaining the structure of an input image, making it especially valuable for advanced content creation scenarios such as recreating scenes or rendering characters from models.\n\n**[Style](/docs/api-reference#tag/Control/paths/~1v2beta~1stable-image~1control~1style/post)**\n\nThis service extracts stylistic elements from an input image (control image) and uses it to guide the creation of an output image based on the prompt. The result is a new image in the same style as the control image."
    },
    {
      "name": "Results",
      "description": "Tools for fetching the results of your async generations."
    },
    {
      "name": "Stable Audio 2",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 2.5**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 3-minute, 44.1 kHz stereo compositions. Stable Audio 2.5 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\n**Stable Audio 2.0**: High-Quality Audio Generation\n\nBuilt for text-to-audio and audio-to-audio generation, also capable of generating up to 3-minute, 44.1 kHz stereo. Stable Audio 2.0 is great for ideation, music demos, and ambient soundscapes. It's optimized for creative professionals seeking detailed and extended outputs from simple prompts.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 2.5 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-2-0).",
      "x-displayName": "Stable Audio 2.5"
    },
    {
      "name": "Stable Audio",
      "description": "Tools to generate music and sound from text or audio, or transform existing audio clips into new compositions. Our different services include:\n\n**Stable Audio 3.0**: Fast, Best-Quality, Long-Form Music & Audio Generation\n\nOur most advanced audio generation model, capable of generating up to 6-minute, 44.1 kHz stereo compositions. Stable Audio 3.0 supports text-to-audio, audio-to-audio, and audio-inpaint workflows - allowing creators to upload a sound and transform it into new instruments, styles, or genres using natural language prompts. Ideal for music production, cinematic sound design, and remixing.\n\nStable Audio models were exclusively trained on licensed data from the [AudioSparx](https://www.audiosparx.com/) music library, honoring opt-out requests and ensuring fair compensation for creators. Additionally, Stable Audio 3.0 was pre-trained on licensed data from [Freesound](https://freesound.org/). Read more about the model capabilities [here](https://stability.ai/news/stable-audio-3-0).",
      "x-displayName": "Stable Audio 3.0"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Stable Image",
      "tags": [
        "Generate",
        "Upscale",
        "Edit",
        "Control",
        "Results"
      ]
    },
    {
      "name": "Audio",
      "tags": [
        "Stable Audio 2",
        "Stable Audio"
      ]
    },
    {
      "name": "3D",
      "tags": [
        "3D"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "STABILITY_API_KEY": {
        "type": "apiKey",
        "name": "authorization",
        "in": "header",
        "description": "Use your [Stability API key](https://platform.stability.ai/account/keys) to authentication requests to this App."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid parameter(s), see the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Your request was larger than 10MiB.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "4212a4b66fbe1cedca4bf2133d35dca5",
              "name": "payload_too_large",
              "errors": [
                "body: payloads cannot be larger than 10MiB in size"
              ]
            }
          }
        }
      },
      "RateLimited": {
        "description": "You have made more than 150 requests in 10 seconds.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "rate_limit_exceeded",
              "name": "rate_limit_exceeded",
              "errors": [
                "You have exceeded the rate limit of 150 requests within a 10 second period, and have been timed out for 60 seconds."
              ]
            }
          }
        }
      },
      "InternalError": {
        "description": "An internal error occurred. If the problem persists [contact support](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "2a1b2d4eafe2bc6ab4cd4d5c6133f513",
              "name": "internal_error",
              "errors": [
                "An unexpected server error has occurred, please try again later."
              ]
            }
          }
        }
      },
      "ContentModerated": {
        "description": "Your request was flagged by our content moderation system.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ContentModerationResponse"
            }
          }
        }
      },
      "GenerationNotFound": {
        "description": "id: the generation either does not exist or has expired.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "id": "2bca35116bc5431d6dc4b4ea2ef3da2f",
              "name": "generation_not_found",
              "errors": [
                "id: the generation either does not exist or has expired."
              ]
            }
          }
        }
      },
      "ImageClassificationFailed": {
        "description": "Your request was well-formed, but rejected. See the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Invalid Language": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "invalid_language",
                  "errors": [
                    "English is the only supported language for this service."
                  ]
                }
              },
              "Public Figure Detected": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "public_figure",
                  "errors": [
                    "Our system detected the likeness of a public figure in your image. To comply with our guidelines, this request cannot be processed. Please upload a different image."
                  ]
                }
              }
            }
          }
        }
      },
      "AudioClassificationFailed": {
        "description": "Your request was well-formed, but rejected. See the `errors` field for details.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "Invalid Language": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "invalid_language",
                  "errors": [
                    "English is the only supported language for this service."
                  ]
                }
              },
              "Copyrighted Content Detected": {
                "value": {
                  "id": "ff54b236a3acdde1522cb1ba641c43ed",
                  "name": "copyrighted_content",
                  "errors": [
                    "Our system has detected the presence of copyrighted content in your audio. To comply with our guidelines, we cannot process this request. Please upload a different audio file."
                  ]
                }
              }
            }
          }
        }
      },
      "ImageGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "AudioGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated audio.\n\n To receive the bytes of the audio directly, specify `audio/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "mpeg": {
                "description": "raw bytes",
                "value": "audio/mpeg"
              },
              "mpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=audio/mpeg"
              },
              "wav": {
                "description": "raw bytes",
                "value": "audio/wav"
              },
              "wavJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=audio/wav"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/AudioFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "audio/mpeg": {
            "example": "The bytes of the generated mpeg",
            "schema": {
              "$ref": "#/components/schemas/AudioBinaryResponse"
            }
          },
          "application/json; type=audio/mpeg": {
            "schema": {
              "$ref": "#/components/schemas/AudioJSONResponse"
            }
          },
          "audio/wav": {
            "example": "The bytes of the generated wav",
            "schema": {
              "$ref": "#/components/schemas/AudioBinaryResponse"
            }
          },
          "application/json; type=audio/wav": {
            "schema": {
              "$ref": "#/components/schemas/AudioJSONResponse"
            }
          }
        }
      },
      "ImageInpaintSuccess": {
        "description": "Inpainting was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "ImageUpscaleSuccess": {
        "description": "Upscale was successful.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestID"
          },
          "content-type": {
            "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
            "examples": {
              "jpeg": {
                "description": "raw bytes",
                "value": "image/jpeg"
              },
              "jpegJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/jpeg"
              },
              "png": {
                "description": "raw bytes",
                "value": "image/png"
              },
              "pngJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/png"
              },
              "webp": {
                "description": "raw bytes",
                "value": "image/webp"
              },
              "webpJSON": {
                "description": "base64 encoded",
                "value": "application/json; type=image/webp"
              }
            },
            "schema": {
              "type": "string"
            }
          },
          "finish-reason": {
            "$ref": "#/components/headers/ImageFinishReason"
          },
          "seed": {
            "$ref": "#/components/headers/Seed"
          }
        },
        "content": {
          "image/jpeg": {
            "example": "The bytes of the generated jpeg",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/jpeg": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/png": {
            "example": "The bytes of the generated png",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/png": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          },
          "image/webp": {
            "example": "The bytes of the generated webp",
            "schema": {
              "$ref": "#/components/schemas/ImageBinaryResponse"
            }
          },
          "application/json; type=image/webp": {
            "schema": {
              "$ref": "#/components/schemas/ImageJSONResponse"
            }
          }
        }
      },
      "ModelGenerationSuccess": {
        "description": "Generation was successful.",
        "headers": {
          "content-type": {
            "description": "The format of the 3D model.",
            "schema": {
              "type": "string",
              "example": "model/gltf-binary"
            }
          }
        },
        "content": {
          "model/gltf-binary": {
            "schema": {
              "$ref": "#/components/schemas/ModelBinaryResponse"
            }
          }
        }
      }
    },
    "headers": {
      "RequestID": {
        "description": "A unique identifier for this request.",
        "schema": {
          "type": "string"
        }
      },
      "ImageFinishReason": {
        "schema": {
          "type": "string",
          "enum": [
            "SUCCESS",
            "CONTENT_FILTERED"
          ]
        },
        "description": "Indicates the reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`."
      },
      "AudioFinishReason": {
        "schema": {
          "type": "string",
          "enum": [
            "SUCCESS"
          ]
        },
        "description": "Indicates the reason the generation finished. It is always `SUCCESS` for this endpoint.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `finish_reason`."
      },
      "Seed": {
        "description": "The seed used as random noise for this generation.\n\n> **NOTE:** This header is absent on JSON encoded responses because it is present in the body as `seed`.",
        "example": "343940597",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Short-hand name for an error, useful for discriminating between errors with the same status code.",
            "example": "bad_request"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "One or more error messages indicating what went wrong.",
            "example": [
              "some-field: is required"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "errors"
        ]
      },
      "ContentModerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "A unique identifier associated with this error. Please include this in any [support tickets](https://kb.stability.ai/knowledge-base/kb-tickets/new)\nyou file, as it will greatly assist us in diagnosing the root cause of the problem.",
            "example": "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Our content moderation system has flagged some part of your request and subsequently denied it.  You were not charged for this request.  While this may at times be frustrating, it is necessary to maintain the integrity of our platform and ensure a safe experience for all users.\n\nIf you would like to provide feedback, please use the [Support Form](https://kb.stability.ai/knowledge-base/kb-tickets/new).",
            "enum": [
              "content_moderation"
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "description": "One or more error messages indicating what went wrong.",
            "example": [
              "some-field: is required"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "errors"
        ],
        "description": "Your request was flagged by our content moderation system.",
        "example": {
          "id": "ed14db44362126aab3cbd25cca51ffe3",
          "name": "content_moderation",
          "errors": [
            "Your request was flagged by our content moderation system, as a result your request was denied and you were not charged."
          ]
        }
      },
      "Seed": {
        "type": "number",
        "minimum": 0,
        "maximum": 4294967294,
        "default": 0,
        "description": "A specific value that is used to guide the 'randomness' of the generation. (Omit this parameter or pass `0` to use a random seed.)"
      },
      "ImageBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated image.\n\nThe `finish-reason` and `seed` will be present as headers.",
        "format": "binary"
      },
      "ImageJSONResponse": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "description": "The generated image, encoded to base64.",
            "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
          },
          "seed": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Seed"
              },
              {
                "description": "The seed used as random noise for this generation.",
                "example": 343940597
              }
            ]
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "SUCCESS",
              "CONTENT_FILTERED"
            ],
            "description": "The reason the generation finished.\n\n- `SUCCESS` = successful generation.\n- `CONTENT_FILTERED` = successful generation, however the output violated our content moderation\npolicy and has been blurred as a result.",
            "example": "SUCCESS"
          }
        },
        "required": [
          "image",
          "finish_reason"
        ]
      },
      "AudioBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated audio.\n\nThe `finish-reason` and `seed` will be present as headers.",
        "format": "binary"
      },
      "AudioJSONResponse": {
        "type": "object",
        "properties": {
          "audio": {
            "type": "string",
            "description": "The generated audio, encoded to base64.",
            "example": "AAAAIGZ0eXBpc29tAAACAGlzb21pc28yYXZjMW1..."
          },
          "seed": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Seed"
              },
              {
                "description": "The seed used as random noise for this generation.",
                "example": 343940597
              }
            ]
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "SUCCESS"
            ],
            "description": "The reason the generation finished. It is always `SUCCESS` for this endpoint.",
            "example": "SUCCESS"
          }
        },
        "required": [
          "audio",
          "finish_reason"
        ]
      },
      "ModelBinaryResponse": {
        "type": "string",
        "description": "The bytes of the generated 3D model.",
        "format": "binary"
      },
      "GenerationID": {
        "type": "string",
        "minLength": 64,
        "maxLength": 64,
        "description": "The `id` of a generation, typically used for async generations, that can be used to check the status of the generation or retrieve the result.",
        "example": "a6dc6c6e20acda010fe14d71f180658f2896ed9b4ec25aa99a6ff06c796987c4"
      },
      "AsyncGenerationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/GenerationID"
          }
        },
        "required": [
          "id"
        ]
      },
      "Prompt": {
        "type": "string",
        "minLength": 1,
        "maxLength": 10000,
        "description": "What you wish to see in the output image. A strong, descriptive prompt that clearly defines\nelements, colors, and subjects will lead to better results.\n\nTo control the weight of a given word use the format `(word:weight)`,\nwhere `word` is the word you'd like to control the weight of and `weight`\nis a value between 0 and 1. For example: `The sky was a crisp (blue:0.3) and (green:0.8)`\nwould convey a sky that was blue and green, but more green than blue."
      },
      "NegativePrompt": {
        "type": "string",
        "maxLength": 10000,
        "description": "A blurb of text describing what you **do not** wish to see in the output image.\nThis is an advanced feature."
      },
      "StylePreset": {
        "type": "string",
        "enum": [
          "enhance",
          "anime",
          "photographic",
          "digital-art",
          "comic-book",
          "fantasy-art",
          "line-art",
          "analog-film",
          "neon-punk",
          "isometric",
          "low-poly",
          "origami",
          "modeling-compound",
          "cinematic",
          "3d-model",
          "pixel-art",
          "tile-texture"
        ],
        "description": "Guides the image model towards a particular style."
      },
      "InpaintingSearchModeRequestBody": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "search"
            ],
            "description": "Controls how the model decides which areas to inpaint and which areas to leave alone.\n\nSpecifying `mask` requires:\n  - Provide an explicit mask image in the `mask` parameter\n  - Use the alpha channel of the `image` parameter as the mask\n\nSpecifying `search` requires:\n  - Provide a small description of what to inpaint in the `search_prompt` parameter"
          },
          "search_prompt": {
            "type": "string",
            "description": "Short description of what to inpaint in the `image`.",
            "example": "glasses"
          },
          "image": {
            "type": "string",
            "description": "The image you wish to inpaint.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 9,437,184 pixels",
            "format": "binary",
            "example": "./some/image.png"
          },
          "prompt": {
            "$ref": "#/components/schemas/Prompt"
          },
          "negative_prompt": {
            "$ref": "#/components/schemas/NegativePrompt"
          },
          "seed": {
            "$ref": "#/components/schemas/Seed"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "default": "png",
            "description": "Dictates the `content-type` of the generated image."
          }
        },
        "required": [
          "image",
          "prompt",
          "mode",
          "search_prompt"
        ]
      },
      "InpaintingMaskingModeRequestBody": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "mask"
            ],
            "description": "Controls how the model decides which areas to inpaint and which areas to leave alone.\n\nSpecifying `mask` requires:\n  - Provide an explicit mask image in the `mask` parameter\n  - Use the alpha channel of the `image` parameter as the mask\n\nSpecifying `search` requires:\n  - Provide a small description of what to inpaint in the `search_prompt` parameter"
          },
          "mask": {
            "type": "string",
            "description": "Controls the strength of the inpainting process on a per-pixel basis, either via a\nsecond image (passed into this parameter) or via the alpha channel of the `image` parameter.\n\n**Passing in a Mask**\n\nThe image passed to this parameter should be a black and white image that represents,\nat any pixel, the strength of inpainting based on how dark or light the given pixel is.\nCompletely black pixels represent no inpainting strength while completely white pixels\nrepresent maximum strength.\n\nIn the event the mask is a different size than the `image` parameter, it will be automatically resized.\n\n**Alpha Channel Support**\n\nIf you don't provide an explicit mask, one will be derived from the alpha channel of the `image` parameter.\nTransparent pixels will be inpainted while opaque pixels will be preserved.\n\nIn the event an `image` with an alpha channel is provided along with a `mask`, the `mask` will take precedence.",
            "format": "binary",
            "example": "./some/image.png"
          },
          "image": {
            "type": "string",
            "description": "The image you wish to inpaint.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 9,437,184 pixels",
            "format": "binary",
            "example": "./some/image.png"
          },
          "prompt": {
            "$ref": "#/components/schemas/Prompt"
          },
          "negative_prompt": {
            "$ref": "#/components/schemas/NegativePrompt"
          },
          "seed": {
            "$ref": "#/components/schemas/Seed"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "jpeg",
              "png",
              "webp"
            ],
            "default": "png",
            "description": "Dictates the `content-type` of the generated image."
          }
        },
        "required": [
          "image",
          "prompt",
          "mode"
        ]
      },
      "AudioPrompt": {
        "type": "string",
        "maxLength": 10000,
        "description": "What you wish the output audio to be. A strong, descriptive prompt that clearly defines\ninstruments, moods, styles, and genre will lead to better results.\n\nYou can make a prompt as simple or complex as you like. Simple prompts are good for clean\noutput audio. Complex prompts are good for adding texture and depth to the output audio."
      },
      "Creativity": {
        "type": "number",
        "minimum": 0.2,
        "maximum": 0.5,
        "default": 0.35,
        "description": "Controls the likelihood of creating additional details not heavily conditioned by the init image."
      },
      "AspectRatio": {
        "type": "string",
        "enum": [
          "21:9",
          "16:9",
          "3:2",
          "5:4",
          "1:1",
          "4:5",
          "2:3",
          "9:16",
          "9:21"
        ],
        "default": "1:1",
        "description": "Controls the aspect ratio of the generated image."
      }
    },
    "parameters": {
      "Authorization": {
        "schema": {
          "type": "string",
          "description": "Your [Stability API key](https://platform.stability.ai/account/keys), used to authenticate your requests. Although you may have multiple keys in your account, you should use the same key for all requests to this API.",
          "minLength": 1
        },
        "required": true,
        "name": "authorization",
        "in": "header"
      },
      "FormDataContentType": {
        "schema": {
          "type": "string",
          "minLength": 1,
          "description": "The content type of the request body. Do not manually specify this header; your HTTP client library will automatically include the appropriate boundary parameter.",
          "example": "multipart/form-data"
        },
        "required": true,
        "name": "content-type",
        "in": "header"
      },
      "AcceptImage": {
        "schema": {
          "type": "string",
          "default": "image/*",
          "description": "Specify `image/*` to receive the bytes of the image directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
          "enum": [
            "image/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "AcceptAudio": {
        "schema": {
          "type": "string",
          "default": "audio/*",
          "description": "Specify `audio/*` to receive the bytes of the audio directly. Otherwise specify `application/json` to receive the audio as base64 encoded JSON.",
          "enum": [
            "audio/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "AcceptResult": {
        "schema": {
          "type": "string",
          "default": "*/*",
          "description": "Specify `*/*` to receive the bytes of the result directly. Otherwise specify `application/json` to receive the result as base64 encoded JSON.",
          "enum": [
            "*/*",
            "application/json"
          ]
        },
        "required": false,
        "name": "accept",
        "in": "header"
      },
      "StabilityClientID": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "The name of your application, used to help us communicate app-specific debugging or moderation issues to you.",
          "example": "my-awesome-app"
        },
        "required": false,
        "name": "stability-client-id",
        "in": "header"
      },
      "StabilityClientUserID": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "A unique identifier for your end user. Used to help us communicate user-specific debugging or moderation issues to you. Feel free to obfuscate this value to protect user privacy.",
          "example": "DiscordUser#9999"
        },
        "required": false,
        "name": "stability-client-user-id",
        "in": "header"
      },
      "StabilityClientVersion": {
        "schema": {
          "type": "string",
          "maxLength": 256,
          "description": "The version of your application, used to help us communicate version-specific debugging or moderation issues to you.",
          "example": "1.2.1"
        },
        "required": false,
        "name": "stability-client-version",
        "in": "header"
      }
    }
  },
  "paths": {
    "/v2alpha/generation/stable-image/upscale": {
      "post": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/upscale",
        "description": "Takes images between 64x64 and 1 megapixel and upscales them all the way to **4K** resolution.  Put more\ngenerally, it can upscale images ~20-40x times while preserving, and often enhancing, quality.\n\n### How to use\n  - Invoke this endpoint with the required parameters to start a generation\n  - Use that `id` in the response to poll for results at the [upscale/result/{id}](#tag/v2alphageneration/paths/~1v2alpha~1generation~1stable-image~1upscale~1result~1%7Bid%7D/get) endpoint\n    - Rate-limiting or other errors may occur if you poll more than once every 10 seconds\n\n### Price\nFlat rate of 25 cents per generation.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/upscale\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\"\n    },\n    files={\n        \"image\": open(\"./kitten-in-space.png\", \"rb\")\n    },\n    data={\n        \"prompt\": \"cute fluffy white kitten floating in space, pastel colors\",\n        \"output_format\": \"webp\",\n    },\n)\n\nprint(\"Generation ID:\", response.json().get('id'))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import fs from \"node:fs\";\nimport axios from \"axios\";\nimport FormData from \"form-data\";\n\nconst formData = {\n  image: fs.createReadStream(\"./kitten-in-space.png\"),\n  prompt: \"cute fluffy white kitten floating in space, pastel colors\",\n  output_format: \"webp\"\n};\n\nconst response = await axios.postForm(\n  `https://api.stability.ai/v2alpha/generation/stable-image/upscale`,\n  axios.toFormData(formData, new FormData()),\n  {\n    validateStatus: undefined,\n    headers: { Authorization: `Bearer sk-MYAPIKEY` },\n  },\n);\n\nconsole.log(\"Generation ID:\", response.data.id);"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2alpha/generation/stable-image/upscale\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -F image=@\"./kitten-in-rainforest.png\" \\\n  -F prompt=\"cute fluffy white kitten sitting in a rainforest, pastel colors\" \\\n  -F output_format=webp \\\n  -o \"./output.json\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/FormDataContentType"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image you wish to upscale.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 1,048,576 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "prompt": {
                    "$ref": "#/components/schemas/Prompt"
                  },
                  "negative_prompt": {
                    "$ref": "#/components/schemas/NegativePrompt"
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "jpeg",
                      "png",
                      "webp"
                    ],
                    "default": "png",
                    "description": "Dictates the `content-type` of the generated image."
                  },
                  "seed": {
                    "$ref": "#/components/schemas/Seed"
                  },
                  "creativity": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 0.5,
                    "default": 0.3,
                    "description": "Indicates how creative the model should be when upscaling an image.\nHigher values will result in more details being added to the image during upscaling."
                  },
                  "style_preset": {
                    "$ref": "#/components/schemas/StylePreset"
                  }
                },
                "required": [
                  "image",
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upscaling was successful!",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsyncGenerationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2alpha/generation/stable-image/upscale/result/{id}": {
      "get": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/upscale/result",
        "description": "Fetch the result of an upscale generation by ID. Make sure to use the same API key to fetch the generation result\nthat you used to create the generation, otherwise you will receive a `404` response.\n\n### How is progress reported?\nYour generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`). \nWe may add more fine-grained progress reporting in the future (e.g. a numerical progress).\n\n### How long are results stored?\nResults are stored for 24 hours after generation. After that, the results are deleted.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\ngeneration_id = \"e52772ac75b...\"\n\nresponse = requests.request(\n    \"GET\",\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/{generation_id}\",\n    headers={\n        'Accept': \"image/*\",  # Use 'application/json' to receive base64 encoded JSON\n        'authorization': f\"Bearer sk-MYAPIKEY\"\n    },\n)\n\nif response.status_code == 202:\n    print(\"Generation in-progress, try again in 10 seconds.\")\nelif response.status_code == 200:\n    print(\"Generation complete!\")\n    with open(\"upscaled.webp\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import axios from \"axios\";\nimport fs from \"node:fs\";\n\nconst generationID = \"e52772ac75b...\";\n\nconst response = await axios.request({\n  url: `https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/${generationID}`,\n  method: \"GET\",\n  validateStatus: undefined,\n  responseType: \"arraybuffer\",\n  headers: {\n    accept: \"image/*\", // Use 'application/json' to receive base64 encoded JSON\n    authorization: `Bearer sk-MYAPIKEY`,\n  },\n});\n\nif (response.status === 202) {\n  console.log(\"Generation is still running, try again in 10 seconds.\");\n} else if (response.status === 200) {\n  console.log(\"Generation is complete!\");\n  fs.writeFileSync(\"upscaled.webp\", Buffer.from(response.data));\n} else {\n  throw new Error(`Response ${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "generation_id=\"e52772ac75b...\"\nurl=\"https://api.stability.ai/v2alpha/generation/stable-image/upscale/result/$generation_id\"\nhttp_status=$(curl -sS -f -o \"./upscaled.webp\" -w '%{http_code}' -H \"authorization: sk-MYAPIKEY\" -H 'accept: image/*' \"$url\")\n\ncase $http_status in\n    202)\n        echo \"Still processing. Retrying in 10 seconds...\"\n        ;;\n    200)\n        echo \"Download complete!\"\n        ;;\n    4*|5*)\n        mv \"./upscaled.webp\" \"./error.json\"\n        echo \"Error: Check ./error.json for details.\"\n        exit 1\n        ;;\nesac"
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/GenerationID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "schema": {
              "type": "string",
              "default": "image/*",
              "description": "Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
              "enum": [
                "image/*",
                "application/json"
              ]
            },
            "required": false,
            "name": "accept",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "The upscale was successful.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestID"
              },
              "content-type": {
                "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
                "examples": {
                  "jpeg": {
                    "description": "raw bytes",
                    "value": "image/jpeg"
                  },
                  "jpegJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/jpeg"
                  },
                  "png": {
                    "description": "raw bytes",
                    "value": "image/png"
                  },
                  "pngJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/png"
                  },
                  "webp": {
                    "description": "raw bytes",
                    "value": "image/webp"
                  },
                  "webpJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/webp"
                  }
                },
                "schema": {
                  "type": "string"
                }
              },
              "finish-reason": {
                "$ref": "#/components/headers/ImageFinishReason"
              },
              "seed": {
                "$ref": "#/components/headers/Seed"
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated jpeg"
              },
              "application/json; type=image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated png"
              },
              "application/json; type=image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated webp"
              },
              "application/json; type=image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              }
            }
          },
          "202": {
            "description": "Your upscale generation is still in-progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/GenerationID"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in-progress"
                      ],
                      "description": "The status of your generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "404": {
            "$ref": "#/components/responses/GenerationNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2alpha/generation/stable-image/inpaint": {
      "post": {
        "tags": [
          "v2alpha/generation"
        ],
        "summary": "stable-image/inpaint",
        "description": "Inpaint an existing image, with or without a mask, using our latest-and-greatest inpainting model.\n\n### Search-and-Replace Mode\nThis mode is ideal for individuals of all levels of skill in design. It can be used for straightforward\nadjustments to images. The service will automatically mask the most appropriate object based on the contents\nof the `search_prompt`, and replace it with a generated result based on the `prompt`.\n\n**How to use:** set the `mode` parameter to `search` and provide a short description of what to\nsearch-and-replace in the `search_prompt` parameter.\n\n### Mask Mode\nThis mode allows for precise control of generative fill tasks on an image, down to the level of\nindividual pixels. Design professionals can provide a `mask` for the section of the image to be replaced,\nand use standard image prompting to describe the full image as it should appear after the editing.\nThe resulting image will incorporate all of the elements described in the `prompt`.\n\n**How to use:** set the `mode` parameter to `mask` and either pass in an `image` with an alpha channel\nor provide an explicit mask image to the `mask` parameter. If both are present the `mask` parameter will\ntake precedence.\n\n### Price\n- Requests with `mode` set to `search` cost 4 cents.\n- Requests with `mode` set to `mask` cost 3 cents.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2alpha/generation/stable-image/inpaint\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\"\n    },\n    files={\n        \"image\": open(\"./husky-in-a-field.png\", \"rb\")\n    },\n    data={\n        \"prompt\": \"golden retriever in a field\",\n        \"mode\": \"search\",\n        \"search_prompt\": \"dog\",\n        \"output_format\": \"webp\",\n    },\n)\n\nif response.status_code == 200:\n    with open(\"./golden-retriever-in-a-field.webp\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import fs from \"node:fs\";\nimport axios from \"axios\";\nimport FormData from \"form-data\";\n\nconst formData = {\n  image: fs.createReadStream(\"./husky-in-a-field.png\"),\n  prompt: \"golden retriever standing in a field\",\n  mode: \"search\",\n  search_prompt: \"dog\",\n  output_format: \"webp\"\n};\n\nconst response = await axios.postForm(\n  `https://api.stability.ai/v2alpha/generation/stable-image/inpaint`,\n  axios.toFormData(formData, new FormData()),\n  {\n    validateStatus: undefined,\n    responseType: \"arraybuffer\",\n    headers: { Authorization: `Bearer sk-MYAPIKEY`, accept: \"image/*\" },\n  },\n);\n\nif(response.status === 200) {\n  fs.writeFileSync(\"./golden-retriever-in-a-field.webp\", Buffer.from(response.data));\n} else {\n  throw new Error(`${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2alpha/generation/stable-image/inpaint\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -H \"accept: image/*\" \\\n  -F image=@\"./husky-in-a-field.png\" \\\n  -F prompt=\"golden retriever in a field\" \\\n  -F mode=\"search\" \\\n  -F search_prompt=\"dog\" \\\n  -F output_format=\"webp\" \\\n  -o \"./golden-retriever-in-a-field.webp\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/FormDataContentType"
          },
          {
            "schema": {
              "type": "string",
              "default": "image/*",
              "description": "Specify `image/*` to get the image bytes directly. Otherwise specify `application/json` to receive the image as base64 encoded JSON.",
              "enum": [
                "image/*",
                "application/json"
              ]
            },
            "required": false,
            "name": "accept",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InpaintingSearchModeRequestBody"
                  },
                  {
                    "$ref": "#/components/schemas/InpaintingMaskingModeRequestBody"
                  }
                ],
                "discriminator": {
                  "propertyName": "mode",
                  "mapping": {
                    "search": "#/components/schemas/InpaintingSearchModeRequestBody",
                    "mask": "#/components/schemas/InpaintingMaskingModeRequestBody"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageInpaintSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/3d/stable-fast-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Stable Fast 3D",
        "description": "Stable Fast 3D generates high-quality 3D assets from a single 2D input image.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to [![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_3D_API.ipynb)\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`.\n\nThe body of the request should include:\n- `image`\n\nThe body may optionally include:\n- `texture_resolution`\n- `foreground_ratio`\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Output\nThe output is a binary blob that includes a glTF asset, including JSON, buffers, and images.\nSee the [GLB File Format Specification](https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html#glb-file-format-specification) for more details.\n\n### Credits\nFlat rate of 10 credits per successful generation. You will not be charged for failed generations.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2beta/3d/stable-fast-3d\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\",\n    },\n    files={\n        \"image\": open(\"./cat-statue.png\", \"rb\")\n    },\n    data={},\n)\n\nif response.status_code == 200:\n    with open(\"./3d-cat-statue.glb\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import axios from \"axios\";\nimport FormData from \"form-data\";\nimport fs from \"node:fs\";\n\nconst payload = {\n    image: fs.createReadStream(\"./cat-statue.png\"),\n};\n\nconst response = await axios.postForm(\n    `https://api.stability.ai/v2beta/3d/stable-fast-3d`,\n    axios.toFormData(payload, new FormData()),\n    {\n        validateStatus: undefined,\n        responseType: \"arraybuffer\",\n        headers: {\n            Authorization: `Bearer sk-MYAPIKEY`,\n        },\n    },\n);\n\nif (response.status === 200) {\n    fs.writeFileSync(\"./3d-cat-statue.glb\", Buffer.from(response.data));\n} else {\n    throw new Error(`${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2beta/3d/stable-fast-3d\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -F image=@\"./cat-statue.png\" \\\n  -o \"./3d-cat-statue.glb\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/FormDataContentType"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image to generate a 3D model from.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 4,194,304 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "texture_resolution": {
                    "type": "string",
                    "enum": [
                      "512",
                      "1024",
                      "2048"
                    ],
                    "default": "1024",
                    "description": "Determines the resolution of the textures used for both the albedo (color) map\nand the normal map. The resolution is specified in pixels, and a higher value\ncorresponds to a higher level of detail in the textures, allowing for more\nintricate and precise rendering of surfaces. However, increasing the resolution\nalso results in larger asset sizes, which may impact loading times and\nperformance. 1024 is a good default value and rarely requires changing."
                  },
                  "foreground_ratio": {
                    "type": "number",
                    "minimum": 0.1,
                    "maximum": 1,
                    "default": 0.85,
                    "description": "Controls the amount of padding around the object to be processed within the frame.\nThis ratio determines the relative size of the object compared to the total frame\nsize. A higher ratio means less padding and a larger object, while a lower ratio\nincreases the padding, effectively reducing the object’s size within the frame. This\ncan be useful when a long and narrow object, such as a car or bus, is viewed from the\nfront (the narrow side). Here, lowering the foreground ratio might help prevent the\ngenerated 3D assets from appearing squished or distorted. The default value of 0.85\nis good for most objects."
                  },
                  "remesh": {
                    "type": "string",
                    "enum": [
                      "none",
                      "triangle",
                      "quad"
                    ],
                    "default": "none",
                    "description": "Controls the remeshing algorithm used to generate the 3D model. The remeshing\nalgorithm determines how the 3D model is constructed from the input image. The\ndefault value of \"none\" means that the model is generated without remeshing,\nwhich is suitable for most use cases. The \"triangle\" option generates a model\nwith triangular faces, while the \"quad\" option generates a model with quadrilateral\nfaces. The \"quad\" option is useful when the 3D model will be used in DCC tools such\nas Maya or Blender."
                  },
                  "vertex_count": {
                    "type": "number",
                    "minimum": -1,
                    "maximum": 20000,
                    "default": -1,
                    "description": "If specified, the result will have approximately this many vertices (and consequently fewer faces) in the simplified mesh.\n\nSetting this value to -1 (the default value) means that a limit is not set."
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ModelGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/3d/stable-point-aware-3d": {
      "post": {
        "tags": [
          "3D"
        ],
        "summary": "Stable Point Aware 3D",
        "description": "Stable Point Aware 3D (SPAR3D) can make real-time edits and create the complete structure\nof a 3D object from a single image in a few seconds. SPAR3D combines the strengths of\npoint-cloud diffusion (probabilistic) and mesh regression (deterministic) to have improved\ndetails on the unseen back regions in the input image.\n\nCompared to our previous model [Stable Fast 3D](#tag/3D/paths/~1v2beta~13d~1stable-fast-3d/post), this new\none allows editing of backside information using the point cloud representation and also\nleverages a larger Diffusion model to generally improve the depth and backside\npredictions.\n\nRead more about the model capabilities [here](https://bit.ly/4h7cpgF).\n\nThis API is currently in\npreview. Please don’t hesitate to [contact us](https://stability.ai/contact) with any questions.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to [![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_3D_API.ipynb)\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`.\n\nThe body of the request should include:\n- `image`\n\nThe body may optionally include:\n- `texture_resolution`\n- `foreground_ratio`\n- `remesh`\n- `target_type`\n- `target_count`\n- `guidance_scale`\n- `seed`\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Output\nThe output is a binary blob that includes a glTF asset, including JSON, buffers, and images.\nSee the [GLB File Format Specification](https://registry.khronos.org/glTF/specs/2.0/glTF-2.0.html#glb-file-format-specification) for more details.\n\n### Credits\nFlat rate of 4 credits per successful generation. You will not be charged for failed generations.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2beta/3d/stable-point-aware-3d\",\n    headers={\n        \"authorization\": f\"Bearer sk-MYAPIKEY\",\n    },\n    files={\n        \"image\": open(\"./cat-statue.png\", \"rb\")\n    },\n    data={},\n)\n\nif response.status_code == 200:\n    with open(\"./3d-cat-statue.glb\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import axios from \"axios\";\nimport FormData from \"form-data\";\nimport fs from \"node:fs\";\n\nconst payload = {\n    image: fs.createReadStream(\"./cat-statue.png\"),\n};\n\nconst response = await axios.postForm(\n    `https://api.stability.ai/v2beta/3d/stable-point-aware-3d`,\n    axios.toFormData(payload, new FormData()),\n    {\n        validateStatus: undefined,\n        responseType: \"arraybuffer\",\n        headers: {\n            Authorization: `Bearer sk-MYAPIKEY`,\n        },\n    },\n);\n\nif (response.status === 200) {\n    fs.writeFileSync(\"./3d-cat-statue.glb\", Buffer.from(response.data));\n} else {\n    throw new Error(`${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2beta/3d/stable-point-aware-3d\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -F image=@\"./cat-statue.png\" \\\n  -o \"./3d-cat-statue.glb\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/FormDataContentType"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "The image to generate a 3D model from.\n\nSupported Formats:\n- jpeg\n- png\n- webp\n\nValidation Rules:\n- Every side must be at least 64 pixels\n- Total pixel count must be between 4,096 and 4,194,304 pixels",
                    "format": "binary",
                    "example": "./some/image.png"
                  },
                  "texture_resolution": {
                    "type": "string",
                    "enum": [
                      "512",
                      "1024",
                      "2048"
                    ],
                    "default": "1024",
                    "description": "Determines the resolution of the textures used for both the albedo (color) map and the\nnormal map. The resolution is specified in pixels, and a higher value corresponds to a\nhigher level of detail in the textures, allowing for more intricate and precise rendering\nof surfaces. However, increasing the resolution also results in larger asset sizes, which\nmay impact loading times and performance. `1024` is a good default value and rarely requires\nchanging."
                  },
                  "foreground_ratio": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 2,
                    "default": 1.3,
                    "description": "Controls the amount of padding around the object to be processed within the frame. This\nratio determines the relative size of the object compared to the total frame size. A\nhigher ratio means less padding and a larger object, while a lower ratio increases the\npadding, effectively reducing the object’s size within the frame. This can be useful when\na long and narrow object, such as a car or bus, is viewed from the front (the narrow\nside). Here, lowering the foreground ratio might help prevent the generated 3D assets from\nappearing squished or distorted. The default value of `1.3` is good for most objects."
                  },
                  "remesh": {
                    "type": "string",
                    "enum": [
                      "none",
                      "triangle",
                      "quad"
                    ],
                    "default": "none",
                    "description": "Controls the remeshing algorithm used to generate the 3D model. The remeshing algorithm\ndetermines how the 3D model is constructed from the input image. The default value of\n\"none\" means that the model is generated without remeshing, which is suitable for most use\ncases. The \"triangle\" option generates a model with triangular faces, while the \"quad\"\noption generates a model with quadrilateral faces. The \"quad\" option is useful when the 3D\nmodel will be used in DCC tools such as Maya or Blender."
                  },
                  "target_type": {
                    "type": "string",
                    "enum": [
                      "none",
                      "vertex",
                      "face"
                    ],
                    "default": "none",
                    "description": "If set to `vertex` or `face`, the result will have approximately `target_count` many vertices or\nfaces in the simplified mesh, respectively."
                  },
                  "target_count": {
                    "type": "number",
                    "minimum": 100,
                    "maximum": 20000,
                    "default": 1000,
                    "description": "This sets the target vertex or face count defined by `target_type`. Selecting extremely low\ncounts reduces the quality of the mesh severely and values of 1,000 - 10,000 are recommended."
                  },
                  "guidance_scale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 3,
                    "description": "This sets the guidance scaling of the point diffusion module. Lower values produce less\ndetail and higher can introduce artifacts. The default of `3` produces best results."
                  },
                  "seed": {
                    "$ref": "#/components/schemas/Seed"
                  }
                },
                "required": [
                  "image"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ModelGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/results/{id}": {
      "get": {
        "tags": [
          "Results"
        ],
        "summary": "Fetch async generation result",
        "description": "Fetch the result of a generation by ID.\n\nMake sure to use the same API key to fetch the generation result that you used to create the generation,\notherwise you will receive a `404` response.\n\n### How to use\nPlease invoke this endpoint with a `GET` request.\n\nThe headers of the request must include an API key in the `authorization` field and the ID\nof your generation must be in the path.\n\n### How is progress reported?\nYour generation is either `in-progress` (i.e. status code `202`) or it is complete (i.e. status code `200`).\nWe may add more fine-grained progress reporting in the future (e.g. a numerical progress).\n\n### How long are results stored?\nResults are stored for 24 hours after generation. After that, the results are deleted.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\ngeneration_id = \"e52772ac75b...\"\n\nresponse = requests.request(\n    \"GET\",\n    f\"https://api.stability.ai/v2beta/results/{generation_id}\",\n    headers={\n        'accept': \"image/*\",  # Use 'application/json' to receive base64 encoded JSON\n        'authorization': f\"Bearer sk-MYAPIKEY\"\n    },\n)\n\nif response.status_code == 202:\n    print(\"Generation in-progress, try again in 10 seconds.\")\nelif response.status_code == 200:\n    print(\"Generation complete!\")\n    with open(\"result.webp\", 'wb') as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import axios from \"axios\";\nimport fs from \"node:fs\";\n\nconst generationID = \"e52772ac75b...\";\n\nconst response = await axios.request({\n  url: `https://api.stability.ai/v2beta/results/${generationID}`,\n  method: \"GET\",\n  validateStatus: undefined,\n  responseType: \"arraybuffer\",\n  headers: {\n    Authorization: `Bearer sk-MYAPIKEY`,\n    Accept: \"image/*\", // Use 'application/json' to receive base64 encoded JSON\n  },\n});\n\nif (response.status === 202) {\n  console.log(\"Generation is still running, try again in 10 seconds.\");\n} else if (response.status === 200) {\n  console.log(\"Generation is complete!\");\n  fs.writeFileSync(\"result.webp\", Buffer.from(response.data));\n} else {\n  throw new Error(`Response ${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "generation_id=\"e52772ac75b...\"\nurl=\"https://api.stability.ai/v2beta/results/$generation_id\"\nhttp_status=$(curl -sS -f -o \"./result.webp\" -w '%{http_code}' -H \"authorization: sk-MYAPIKEY\" -H 'accept: image/*' \"$url\")\n\ncase $http_status in\n    202)\n        echo \"Still processing. Retrying in 10 seconds...\"\n        ;;\n    200)\n        echo \"Download complete!\"\n        ;;\n    4*|5*)\n        mv \"./result.webp\" \"./error.json\"\n        echo \"Error: Check ./error.json for details.\"\n        exit 1\n        ;;\nesac"
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/GenerationID"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/AcceptResult"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Generation finished.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestID"
              },
              "content-type": {
                "description": "The format of the generated image.\n\n To receive the bytes of the image directly, specify `image/*` in the accept header. To receive the bytes base64 encoded inside of a JSON payload, specify `application/json`.",
                "examples": {
                  "jpeg": {
                    "description": "raw bytes",
                    "value": "image/jpeg"
                  },
                  "jpegJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/jpeg"
                  },
                  "png": {
                    "description": "raw bytes",
                    "value": "image/png"
                  },
                  "pngJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/png"
                  },
                  "webp": {
                    "description": "raw bytes",
                    "value": "image/webp"
                  },
                  "webpJSON": {
                    "description": "base64 encoded",
                    "value": "application/json; type=image/webp"
                  }
                },
                "schema": {
                  "type": "string"
                }
              },
              "finish-reason": {
                "$ref": "#/components/headers/ImageFinishReason"
              },
              "seed": {
                "$ref": "#/components/headers/Seed"
              }
            },
            "content": {
              "image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated jpeg"
              },
              "application/json; type=image/jpeg": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated png"
              },
              "application/json; type=image/png": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              },
              "image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageBinaryResponse"
                },
                "example": "The bytes of the generated webp"
              },
              "application/json; type=image/webp": {
                "schema": {
                  "$ref": "#/components/schemas/ImageJSONResponse"
                }
              }
            }
          },
          "202": {
            "description": "Your generation is still in-progress.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/GenerationID"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "in-progress"
                      ],
                      "description": "The status of your generation."
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/GenerationNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/audio/stable-audio-2/text-to-audio": {
      "post": {
        "tags": [
          "Stable Audio 2"
        ],
        "summary": "Text-to-Audio",
        "description": "Stable Audio generates high-quality music and sound effects up to three minutes long at\n44.1kHz stereo from text descriptions. Learn how to craft effective prompts in our\n[Prompt Guide](https://www.stableaudio.com/user-guide/text-to-audio) to get the best results\nfrom your generations.\n\n### Try it out\nGrab your [API key](https://platform.stability.ai/account/keys) and head over to\n[![Open Google Colab](https://platform.stability.ai/svg/google-colab.svg)](https://colab.research.google.com/github/stability-ai/stability-sdk/blob/main/nbs/Stable_Audio_API.ipynb)\nor try Stable Audio 2.0 for free at [stableaudio.com](https://stableaudio.com).\n\n### How to use\nPlease invoke this endpoint with a `POST` request.\n\nThe headers of the request must include an API key in the `authorization` field. The body of the request must be\n`multipart/form-data`. The `accept` header should be set to one of the following:\n- `audio/*` to receive the audio in the format specified by the `output_format` parameter.\n- `application/json` to receive the audio encoded as base64 in a JSON response.\n\nThe body of the request should include:\n- `prompt` - text to generate the audio from. Check our\n[prompt guide](https://www.stableaudio.com/user-guide/text-to-audio) for tips\n\n#### **Optional Parameters:**\nThe body may optionally include:\n- `output_format` - the format of the output audio\n- `seed` - the randomness seed to use for the generation\n- `steps` - the number of sampling steps\n- `duration` - the number of seconds of the generated audio\n- `cfg_scale` - controls how strictly the diffusion process adheres to the prompt text (only for `stable-audio-2`)\n- `model` - the model to use [`stable-audio-2`, `stable-audio-2.5`]\n\n> **Note:** for more details about these parameters please see the request schema below.\n\n### Credits\n\n**Stable Audio 2.0**\n\nBy default, 20 credits per successful generation. The number of credits is determined\nby the following formula: `credits = 17 + 0.06 * steps`.\n\nExamples:\n- 50 steps = 20 credits [default]\n- 100 steps = 23 credits\n\n**Stable Audio 2.5**\n\nRequests made using the Stable Audio 2.5 model have a flat rate of 20 credits per successful result.\n\nAs always, you will not be charged for failed generations.",
        "x-codeSamples": [
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nresponse = requests.post(\n    f\"https://api.stability.ai/v2beta/audio/stable-audio-2/text-to-audio\",\n    headers={\"authorization\": f\"Bearer sk-MYAPIKEY\", \"accept\": \"audio/*\"},\n    files={\"none\": \"\"},\n    data={\n        \"prompt\": \"A song in the 3/4 time signature that features cheerful acoustic guitar, live recorded drums, and rhythmic claps, The mood is happy and up-lifting.\",\n        \"output_format\": \"mp3\",\n        \"duration\": 20,\n        \"model\": \"stable-audio-2.5\",\n    },\n)\n\nif response.status_code == 200:\n    with open(\"./output.mp3\", \"wb\") as file:\n        file.write(response.content)\nelse:\n    raise Exception(str(response.json()))"
          },
          {
            "lang": "javascript",
            "label": "JavaScript",
            "source": "import fs from \"node:fs\";\nimport axios from \"axios\";\nimport FormData from \"form-data\";\n\nconst payload = {\n  prompt:\n    \"A song in the 3/4 time signature that features cheerful acoustic guitar, live recorded drums, and rhythmic claps, The mood is happy and up-lifting.\",\n  output_format: \"mp3\",\n  duration: 20,\n  model: \"stable-audio-2.5\",\n};\n\nconst response = await axios.postForm(\n  `https://api.stability.ai/v2beta/audio/stable-audio-2/text-to-audio`,\n  axios.toFormData(payload, new FormData()),\n  {\n    validateStatus: undefined,\n    responseType: \"arraybuffer\",\n    headers: {\n      Authorization: `Bearer sk-MYAPIKEY`,\n      Accept: \"audio/*\",\n    },\n  }\n);\n\nif (response.status === 200) {\n  fs.writeFileSync(\"./output.mp3\", Buffer.from(response.data));\n} else {\n  throw new Error(`${response.status}: ${response.data.toString()}`);\n}"
          },
          {
            "lang": "terminal",
            "label": "cURL",
            "source": "curl -f -sS \"https://api.stability.ai/v2beta/audio/stable-audio-2/text-to-audio\" \\\n  -H \"authorization: Bearer sk-MYAPIKEY\" \\\n  -H \"accept: audio/*\" \\\n  -F prompt=\"A song in the 3/4 time signature that features cheerful acoustic guitar, live recorded drums, and rhythmic claps, The mood is happy and up-lifting.\" \\\n  -F output_format=\"mp3\" \\\n  -F duration=\"20\" \\\n  -F model=\"stable-audio-2.5\" \\\n  -o \"./uk-bass.mp3\""
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Authorization"
          },
          {
            "$ref": "#/components/parameters/FormDataContentType"
          },
          {
            "$ref": "#/components/parameters/AcceptAudio"
          },
          {
            "$ref": "#/components/parameters/StabilityClientID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientUserID"
          },
          {
            "$ref": "#/components/parameters/StabilityClientVersion"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "maxLength": 10000,
                    "description": "What you wish the output audio to be. A strong, descriptive prompt that clearly defines\ninstruments, moods, styles, and genre will lead to better results.\n\nYou can make a prompt as simple or complex as you like. Simple prompts are good for clean\noutput audio. Complex prompts are good for adding texture and depth to the output audio.\n\n\nCheck our [prompt guide](https://www.stableaudio.com/user-guide/text-to-audio) for tips."
                  },
                  "duration": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 190,
                    "default": 190,
                    "description": "Controls the duration in seconds of the generated audio."
                  },
                  "seed": {
                    "$ref": "#/components/schemas/Seed"
                  },
                  "steps": {
                    "type": "integer",
                    "description": "Controls the number of sampling steps.\n\n- For `stable-audio-2`: accepts steps between `30` and `100` (defaults to `50`).\n- For `stable-audio-2.5`: accepts steps between `4` and `8` (defaults to `8`)."
                  },
                  "cfg_scale": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 25,
                    "description": "How strictly the diffusion process adheres to the prompt text (higher values make your\naudio closer to your prompt). \n\nDefaults to 7 for `stable-audio-2` and 1 for `stable-audio-2.5` if not specified."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "stable-audio-2.5",
                      "stable-audio-2"
                    ],
                    "default": "stable-audio-2",
                    "description": "The model to use for generation.\n\n- `stable-audio-2.5` requires 20 credits per generation\n- `stable-audio-2` requires 20 credits per generation"
                  },
                  "output_format": {
                    "type": "string",
                    "enum": [
                      "mp3",
                      "wav"
                    ],
                    "default": "mp3",
                    "description": "Dictates the `content-type` of the generated audio."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AudioGenerationSuccess"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/ContentModerated"
          },
          "422": {
            "$ref": "#/components/responses/AudioClassificationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v2beta/audio/stable-audio-2/audio-to-audio": {
      "post": {
        "tags": [
          "Stable Audio 2"
        ],
        "summary": "Audio-to-Audio",
[...]
